[submodule "Slayer/thirdparty/glfw"]
	path = Slayer/thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Slayer/--branch"]
	path = Slayer/--branch
	url = https://github.com/ocornut/imgui.git
[submodule "Slayer/Thirdparty/imgui"]
	path = Slayer/Thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Slayer/thirdparty/glm"]
	path = Slayer/thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "Slayer/thirdparty/yaml-cpp"]
	path = Slayer/thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Tools/lib/thirdparty/assimp"]
	path = Tools/lib/thirdparty/assimp
	url = https://github.com/assimp/assimp
[submodule "Tools/lib/thirdparty/pybind11"]
	path = Tools/lib/thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
